@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}
.fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: brightness(0.5);
  transition: background-image 0.5s ease-in-out;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  transition: color 0.5s;
}
h1 {
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  margin-bottom: 20px;
}
.container-personagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
}
.personagem {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 300px;
  text-align: center;
  transition: transform 0.5s, opacity 0.5s;
}
.personagem.show {
  display: block;
  opacity: 1;
  transform: scale(1);
}
.personagem.hide {
  opacity: 0;
  transform: scale(0.5);
}
.personagem img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}
.nav-botoes {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 20px;
}
.nav-botao {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  margin: 10px;
}
.nav-botao:hover {
  background-color: #ddd;
  transform: scale(1.1);
}
.nav-botao:active {
  transform: scale(0.9);
}
.nav-botao:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
}
#botaoAnterior:before {
  border-width: 10px 16px 10px 0;
  border-color: transparent #333 transparent transparent;
}
#botaoProximo:before {
  border-width: 10px 0 10px 16px;
  border-color: transparent transparent transparent #333;
}
